# Enterprise Managed User (EMU) account identity.
# Included by ~/.gitconfig for the directories in `emu_dirs` -- a separate
# managed identity some organisations require for certain repositories.
[user]
	name = {{ .name_emu }}
	email = {{ .email_emu }}
[github]
	user = {{ .name_emu }}

[url "git@{{ .ssh_host_emu }}:"]
	insteadOf = git@github.com:
